@font-face {
  font-family: "InsideOut"; /*a name to be used later*/
  src: url("../src/inside-out/Inside\ Out4.otf"); /*URL to font*/
}

body {
  font-family: "InsideOut";
  background-color: black;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #f93ef2;
  padding: 0;
  margin-top: 30px;
}

nav li {
  padding: 10px;
  text-align: center;
}

nav a {
  color: #05ff00;
  text-decoration: none;
  font-weight: 800;
  font-size: 40px;
  margin-right: 50px;
}

.meme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #000;
  text-align: center;
}

.meme-item img {
  width: 100%; /* Adjust as necessary */
  height: auto;
}

/* Add additional styles as necessary */
